<!doctype html>
<!-- This is a Jinja based template. To read more about Jinja, check
 https://jinja.palletsprojects.com/en/3.0.x/  -->
<title>Message board</title>
<body>
    <h1>Natig Agarzayev</h1>
    <img src="https://media4.giphy.com/media/3oFzmkkwfOGlzZ0gxi/giphy.gif?cid=6c09b952o8lr5ehtrlsacmbqs0al04nbwmpqcmxwyf7ik4kc&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g" alt="">
    <h4>There are {{ messages|length }} messages on the board.</h4>

    <h4> Here are the last 10:</h4>
    <ul>
        {% for m in messages[-9:]|reverse %}
            <li>
                "{{m.content}}" <small>Posted on {{m.timestamp}}</small>
            </li>
        {% endfor %}
    </ul>
    <h4> Enter a new message</h4>
    <form action="/">
        <label >Your message:</label><br>
        <input type="text" name="msg"><br>
        <input type="submit" value="Submit">
    </form>
</body>
